* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: none;
    border: none;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    .wrapper {
        width: 100%;
        max-width: 1440px;
    }
}

