@use "@/config/__var" as *;

.nav {
    display: flex;
    gap: $gap-16;
    a {
        color: $text-color;
        transition: all .2s ease-in-out;
    }
    a:hover {
        color: $accent-color;
        cursor: pointer;
    }
}
.active {
    border-bottom: 1px solid $text-color;
    &:hover {
        border-bottom: 1px solid $accent-color;
    }
}