$text-color: #17110f;
$background-color: #fdffff;
$second-color: #6c6c6c;
$accent-color: #cbcbcb;
$price-color: #ff4699;

$max-width: 1440px;

$fz-24: 24px;
$fz-20: 20px;
$fz-18: 18px;
$fz-16: 16px;
$fz-14: 14px;
$fz-12: 12px;

$gap-32: 32px;
$gap-16: 16px;
$gap-8: 8px;

$padding-16: 8px 16px;
$padding-12: 6px 12px;
$padding-8: 4px 8px;