@use "@/config/__var" as *;

.form {
    width: 352;
    margin-top: $gap-32;
    display: flex;
    flex-direction: column;
    gap: $gap-32;
    &__username {
        display: flex;
        flex-direction: column;
        gap: $gap-8;
        label {
            font-size: $fz-16;
            font-weight: 600;
        }
        input {
            font-size: $fz-14;
            padding: $padding-16;
            border: 2px solid $accent-color;
            line-height: 24px;
        }
    }
    &__password {
        display: flex;
        flex-direction: column;
        gap: $gap-8;
        label {
            font-size: $fz-16;
            font-weight: 600;
        }
        input {
            font-size: $fz-14;
            padding: $padding-16;
            border: 2px solid $accent-color;
            line-height: 24px;
        }
    }
}